<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="target-densitydpi=device-dpi,width=750,user-scalable=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="baidu-site-verification" content="TsSm1SQVcf">
<title>官网手机端</title>
<link href="__CSS__/style.css" type="text/css" rel="stylesheet">

</head>

<body>
<!--头部-->
<!-- <div class="head">
<div class="detail_head">
  <a href="#"><i class="back"></i></a>
  <font>使用帮助</font>
  </div>
  <div class="clear"></div>
</div> -->

<!--头部结束-->

<div class="con mt60">

<div class="wh_bg textcon">
<h3>什么是游戏令牌</h3>
<p>啊快点放假阿斯利康的风景啊开始了发动机阿里斯顿房间卡了束带结发绿色空间放大来看束带结发绿色空间都发了快速的减肥啦上课啊我就发咯就非得拉开始就放大来看世界发达拉开始就多放辣涉及到法律卡加拉加斯地方了卡手机发的离开家啊离开房间阿斯利康的风景阿斯利康放假啊老师看见阿拉山口就发了伤口附近拉萨放假啊路上看到就</p>
</div>

</div>

</body>
</html>
