<extend name="Public/base" />
<block name="body" >
<link rel="stylesheet" href="__CSS__/gamecenter.css">
  <div class="">
    <img src="__IMG__/inner_banner1.jpg">
  </div>
  {:W('Nav/showNav', $navparams);}

  <div class="g-container">
    <div class="g-main game_center">
      <div class="game-select-box fix">
        <div class="game-type">
          <span>运营平台:</span>
          
          <a href="{:U('Game/game_center',array('game_type'=>$gt,'theme'=>$t))}" class="<if condition='I("sdk_version") eq 0'> active </if>" >不限</a> 
          <a href="{:U('Game/game_center',array('sdk_version'=>1,'game_type'=>$gt,'theme'=>$t))}" class="<if condition='I("sdk_version") eq 1'> active </if>">Android</a> 
          <a href="{:U('Game/game_center',array('sdk_version'=>2,'game_type'=>$gt,'theme'=>$t))}" class="<if condition='I("sdk_version") eq 2'> active </if>">IOS</a> 
          
        </div>

        <div class="game-type ">
        <span>游戏类型:</span> 
          <a href="{:U('Game/game_center',array('sdk_version'=>$sys,'theme'=>$t))}" class="<if condition='I("game_type") eq 0'>active</if>">不限</a>
          <volist name=':get_game_type_all()' id='vo' key='k'>
              <a href="{:U('Game/game_center',array('sdk_version'=>$sys,'game_type'=>$vo['id'],'theme'=>$t))}" class="<if condition='I("game_type") eq $vo["id"]'> active </if>">{$vo.type_name}</a>
          </volist>
        </div>

        <div class="game-theme"> 
          <span>游戏首字母:</span>
          <a href="{:U('Game/game_center',array('sdk_version'=>$sys,'game_type'=>$gt))}" class="<if condition='I("theme") eq ""'> active </if>">不限</a> 
          <volist name=":zimu26()" id="zimu">
          <a href="{:U('Game/game_center',array('sdk_version'=>$sys,'game_type'=>$gt,'theme'=>$zimu['value']))}" class="<if condition='I("theme") eq $zimu["value"]'> active </if>">{$zimu['value']}</a> 
          </volist> 
        </div>
      </div>
      <div class="game-content-box">
        <ul class="game-list fix">
        <if condition="$list_data eq ''  or empty($list_data)">
          <div style="text-align: center;">没找到您搜索的内容。。。</div>
        <else/>
        <!-- {:var_Dump($list_data)} -->
        <volist name="list_data" id="data" mod="3">
          <li class="laybox <eq name='mod' value='2'>slb</eq>"> <a href="{:U('Game/game_detail',array('id'=>$data['relation_game_id']))}" target="_self" class="img"> <img src="{:get_cover($data['icon'],'path')}" width="96" height="96" class=""> </a>
            <div class="info"> <a href="{:U('Game/game_detail',array('id'=>$data['relation_game_id']))}" target="_self" class="name">{$data.relation_game_name}</a>
              <div class="row"> 
              <span class="col-1">版本：<if condition="$data.and_id neq ''"><i class="pf-android" title="安卓版本"></i></if><if condition="$data.ios_id neq ''"><i class="pf-ios" title="IOS版本"></i></if></span>
              <span class="col-2">类型：<em>{$data.game_type_name} </em></span> </div>
              <div class="row"> <span class="col-1">评分：<em>{$data.game_score}</em></span>
                <span class="col-2">更新时间：<em>{$data['create_time']|date="Y-m-d",###}</em></span> </div>
              <p class="intro"> 简介：{$data.features} </p>
              <div class="opt"> <a href="{:U('Game/game_detail',array('id'=>$data['relation_game_id']))}" target="_self" class="g-btn enterhome"><i></i>进入官网</a> <a href="{:U('Game/game_detail',array('id'=>$data['relation_game_id']))}" class="g-btn download"><i></i>下载游戏</a> </div>
            </div>
          </li>
        </volist>
        </if>
        </ul>
        <div class="page pagepp">
              {$_page|default=''}
        </div>
      </div>
    </div>
  </div>
<!-- <script type="text/javascript" src="style/js/main_2016.js"></script> -->
</block>
<block name='script'>
<script>
</script>
</block>