<extend name="Public/base"/>

<block name="body">
<link rel="stylesheet" href="__CSS__/select2.min.css" type="text/css" />
    <script type="text/javascript" src="__JS__/select2.min.js"></script>
    <script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
    <!-- 标题栏 -->
    <div class="main-place">
        <span class="main-placetitle">位置：</span>
        <ul class="main-placeul">
            <li><a href="{:U('Game/lists')}">渠道</a></li>
            <li><a href="{:U('Giftbag/lists')}">ios证书</a></li>
            <li><a href="#">{$meta_title}</a></li>
        </ul>
         <div class="question">
            <i class="question_mark">?</i>
            <ul class="question_content">
                <li class="question_title">功能以及数据相关说明</li>
                <li class="question_list">
                    <span class="">ios证书</span>
                    <span class="">ios打包使用</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="cf top_nav_list">

    </div>

    <!-- 数据列表 -->
    <div class="data_list">
        <div class="">
            <table>
                <!-- 表头 -->
                <thead>
                    <tr>
                        <th>
                            <input class="check-all" type="checkbox">
                        </th>
                        <volist name="list_grids" id="field">
                            <th>{$field.title}</th>
                        </volist>
                    </tr>
                </thead>
                <!-- 列表 -->
                <tbody>
                <empty name ="list_data">
                <td colspan="5" class="text-center"> aOh! 暂时还没有内容! </td>
                <else />
                    <volist name="list_data" id="data">
                        <tr>
                            <td><input class="ids" type="checkbox" value="{$data['id']}" name="ids[]"></td>
                            <volist name="list_grids" id="grid">
                                <td>{:get_list_field($data,$grid)}</td>
                            </volist>
                        </tr>
                    </volist>
                    </empty>
                </tbody>
            </table>
        </div>
    </div>
    <div class="page">
        {$_page|default=''}
    </div>
</block>

<block name="script">
<script type="text/javascript">
//导航高亮
highlight_subnav('{:U('cert/lists')}');
$(function(){
    //搜索功能
    $("#search").click(function(){
        var url = $(this).attr('url');
        var query  = $('.jssearch').find('input').serialize();
        query  += "&"+$('.jssearch').find('select').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
        window.location.href = url;
    });

    //回车自动提交
    $('.jssearch').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });
})
</script>
</block>
