<extend name="Public/base"/>

<block name="body">
    <!-- 标题栏 -->
    <div class="main-place">
        <span class="main-placetitle">位置：</span>
        <ul class="main-placeul">
            <li><a href="{:U('Config/group')}">站点</a></li>
            <li><a href="{:U('Site/app')}">联运APP</a></li>
            <li><a href="#">广告管理</a></li>
        </ul>
        <div class="question">
            <i class="question_mark">?</i>
            <ul class="question_content">
                <li class="question_title">功能以及数据相关说明</li>
                <li class="question_list">
                    <span class="">基本配置</span>
                    <span class="">设置联运APP的相关广告图片</span>
                </li>
            </ul>
        </div>
    </div>
<div class="tab_nav jstabnav box_mt">
<ul>
    <li class="">
        <a href="{:U('Adv/app_adv_pos_lists')}">广告位列表</a>
    </li>
    <li class="current">
        <a href="{:U('Adv/app_adv_lists')}">广告列表</a>
    </li>
</ul></div>
	<div class="cf top_nav_list">
		<div class="fl button_list">
		<empty name="model.extend">
			<div class="tools">
				<!-- <a class="" href="{:U('add_media_adv?model='.$model['id'])}"><span class="button_icon button_icon1"></span>新 增</a> -->
                <a class=" ajax-post confirm " target-form="ids" url="{:U('del_adv?model='.$model['id'])}"><span class="button_icon button_icon2"></span>删 除</a>
			</div>
		</empty>
		</div>
		<!-- 高级搜索 -->
		<div class="jssearch fr cf search_list">
			<!-- <div class="sleft">
				<input type="text" name="{$model['search_key']|default='title'}" class="search-input" value="{:I('title')}" placeholder="请输入关键字">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('Think/lists','model='.$model['name'],false)}"><i class="btn-search"></i></a>
			</div> -->

		</div>
	</div>


    <!-- 数据列表 -->
    <div class="data_list">
        <div class="">
            <table>
                <!-- 表头 -->
                <thead>
                    <tr>
                        <th>
                            <input class="check-all" type="checkbox">
                        </th>
                        <th>编号</th>
                        <th>广告标题</th>
                        <th>广告链接</th>
                        <th>所属广告位</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>打开方式</th>
                        <th>操作</th>
                    </tr>
                </thead>

                <!-- 列表 -->
                <tbody>
                <empty name="list_data" >
                <tr>
                <td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
                </tr>
                <else />
                <volist name="list_data" id="data">
                   <tr>
                        <td><input class="ids" type="checkbox" value="{$data['id']}" name="ids[]"></td>
                        <td>{$data['id']}</td>
                        <td>{$data['title']}</td>
                        <td>{$data['url']}</td>
                        <td>{:get_adv_pos_title($data['pos_id'])}</td>
                        <td>{:set_show_time($data['start_time'])}</td>
                        <td>{:set_show_time($data['end_time'])}</td>
                        <td>
                            <switch name="data['target']" >
                                <case value="_blank" >新页面</case>
                                <case value="_self">本页面</case>
                                <default />未知
                            </switch></td>
                        <td>
                            <a href="{:U('app_edit_adv',array('id'=>$data['id'],'model'=>$model['id']))}">编辑</a>
                            <a href="{:U('del_adv?ids='.$data['id'])}" class="ajax-get confirm" target-form="ids">删除</a>
                        </td>
                    </tr>
                </volist>
                </empty>
                </tbody>
            </table>
        </div>
    </div>
    <div class="page">
        {$_page|default=''}
    </div>
</block>

<block name="script">
<script type="text/javascript">
$(function(){
    //导航高亮
    highlight_subnav('{:U('Adv/app_adv_pos_lists')}');
    
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.jssearch').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});

    //回车自动提交
    $('.jssearch').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });

})
</script>
</block>
