<extend name="Public/base"/>

<block name="body">
	<!-- <div class="main-title">
		<h2>{$operate}分类</h2>
	</div> -->
    <div class="main-place">
        <span class="main-placetitle">位置：</span>
        <ul class="main-placeul">
            <li><a href="{:U('Model/index')}">系统</a></li>
            <li><a href="{:U('Model/index')}">系统设置</a></li>
            <li><a href="#">{$meta_title}</a></li>
        </ul>
    </div>
    <form action="{:U($type)}" method="post" class="form-horizontal form_info_ml">
        <!-- <div class="formtitle"><span>基本信息</span></div> -->
        <ul class="form_info ">
            <li><label>目标分类</label><div class="form_main"><select name="to">
								<volist name="list" id="vo">
									<option value="{$vo.id}">{$vo.title}</option>
								</volist>
							</select></div><i class="form_hint">将{$operate}至的分类</i></li>
            <li><label>&nbsp;</label><input type="hidden" name="from" value="{$from}"><input type="submit" id="submit" value="确认保存" target-form="form-horizontal" class="form_btn ajax-post"></li>
        </ul>
    </form>
	
</block>
<block name="script">
    <script>
    highlight_subnav('{:U('Category/index')}');
	</script>
</block>
