<extend name="Public/base"/>

<block name="body">
    <div class="main-place">
        <span class="main-placetitle">位置：</span>
        <ul class="main-placeul">
            <li><a href="{:U('Model/index')}">系统</a></li>
            <li><a href="{:U('Model/index')}">系统设置</a></li>
            <li><a href="#">{$meta_title}</a></li>
        </ul>
        <div class="question">
            <i class="question_mark">?</i>
            <ul class="question_content">
                <li class="question_title">功能以及数据相关说明</li>
                <li class="question_list">
                    <span class="">{$meta_title}</span>
                    <span class="">对相关应用发送通知内容</span>
                </li>
            </ul>
        </div>
    </div>
	<div class="cf top_nav_list">
		<div class="fl button_list">
		<empty name="model.extend">
			<div class="tools">
				<a class=" " href="{:U('add_list?model='.$model['id'])}"><span class="button_icon button_icon1"></span>新 增</a>
				<a class=" ajax-post confirm " target-form="ids" url="{:U('del_list?model='.$model['id'])}"><span class="button_icon button_icon2"></span>删 除</a>
			</div>
		</empty>
		</div>
		<!-- 高级搜索 -->
		<div class="jssearch fr cf search_list" style="margin-bottom:-15px;">
            <!--游戏类型搜索-->
            <include file='Search/game_type' />
            <!--游戏类型搜索END-->
			<!-- <div class="sleft">
				<input type="text" name="type_name" class="search-input" value="{:I('type_name')}" placeholder="请输入游戏类型名称">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('GameType/lists','model='.$model['name'],false)}"><i class="btn-search"></i></a>
			</div> -->

		</div>
	</div>


    <!-- 数据列表 -->
    <div class="data_list">
        <div class="">
            <table>
                <!-- 表头 -->
                <thead>
                    <tr>
                        <th>
                            <input class="check-all" type="checkbox">
                        </th>
                        <volist name="list_grids" id="field">
                            <th>{$field.title}</th>
                        </volist>
                    </tr>
                </thead>

                <!-- 列表 -->
                <tbody>
                <empty name="list_data" >
			       <tr>
			       <td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
			       </tr>
			       <else />
                    <volist name="list_data" id="data">
                        <tr>
                            <td><input class="ids" type="checkbox" value="{$data['id']}" name="ids[]"></td>
                            <volist name="list_grids" id="grid">
                                <td>{:get_list_field($data,$grid)}</td>
                            </volist>
                        </tr>
                    </volist>
                    </empty>
                </tbody>
            </table>
        </div>
    </div>
    <div class="page">
        {$_page|default=''}
    </div>
</block>

<block name="script">
<script src="__STATIC__/layer/layer.js"></script>
<script type="text/javascript">
//导航高亮
highlight_subnav('{:U('Push/pushlist')}');
$(function(){
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.jssearch').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});

    //回车自动提交
    $('.jssearch').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });

    //点击排序
    $('.list_sort').click(function(){
        var url = $(this).attr('url');
        var ids = $('.ids:checked');
        var param = '';
        if(ids.length > 0){
            var str = new Array();
            ids.each(function(){
                str.push($(this).val());
            });
            param = str.join(',');
        }

        if(url != undefined && url != ''){
            
            window.location.href = url.replace(".html","") + '/ids/' + param;
        }
    });

    // layer.confirm('您是如何看待前端开发？', {
    //   btn: ['重要','奇葩'] //按钮
    // }, function(){
    //   layer.msg('的确很重要', {icon: 1});
    // }, function(){
    //   layer.msg('也可以这样', {
    //     time: 20000, //20s后自动关闭
    //     btn: ['明白了', '知道了']
    //   });
    // });

})
</script>
</block>
