<extend name="Public/base"/>

<block name="body">
	<div class="main-place">
        <span class="main-placetitle">位置：</span>
        <ul class="main-placeul">
            <li><a href="{:U('Model/index')}">系统</a></li>
            <li><a href="{:U('Route/lists')}">扩展工具</a></li>
            <li><a href="#">{$meta_title}</a></li>
        </ul>
        <div class="question">
            <i class="question_mark">?</i>
            <ul class="question_content">
                <li class="question_title">功能以及数据相关说明</li>
                <li class="question_list">
                    <span class="">{$meta_title}</span>
                    <span class="">用于配置相关微信公众号参数用来后台绑定管理员账号绑定微信功能</span>
                </li>
            </ul>
        </div>
    </div>
	<div class="tab-wrap">
		<div class="tab_nav jstabnav">
		<ul>
			<li data-tab="tab1" class="current"><a href="javascript:void(0);" >基本设置</a></li>
            <!-- <li data-tab="tab2"><a href="javascript:void(0);" >微信登陆</a></li>
			<li data-tab="tab5"><a href="javascript:void(0);" >微信(扫码)</a></li>
			<li data-tab="tab3"><a href="javascript:void(0);" >微博登陆</a></li>
			<li data-tab="tab4"><a href="javascript:void(0);" >百度登陆</a></li> -->
		</ul></div>
		<div class="tab-content">
		<div id="tab1" class="tab-pane in tab1">
		<form action="{:U('saveTool')}" method="post" class="form-horizontal qq_login form_info_ml">
			<ul class="form_info ">

                <li><label>接口URL</label><input type="text" class="text input-large" value="{$wechat_url}"><i class="form_hint">请将此地址复制到微信公众平台接口URL项</i></li>

             	<li><label>微信AppId</label><input type="text" class="text input-large" name="config[appid]" value="{$wechat['appid']}"><i class="form_hint">请与微信公众平台开发者凭据AppId保持一致</i></li>

             	<li><label>微信AppSecret</label><input type="text" class="text input-large" name="config[appsecret]" value="{$wechat['appsecret']}"><i class="form_hint">请与微信公众平台开发者凭据AppSecret保持一致</i></li>

             	<li><label>微信Token</label><input type="text" class="text input-large" name="config[token]" value="{$wechat['token']}"><i class="form_hint">请与微信公众平台Token保持一致</i></li>

             	<li><label>消息加密KEY</label><input type="text" class="text input-large" name="config[key]" value="{$wechat['key']}"><i class="form_hint">请与微信公众平台EncodingAESKey保持一致(消息加解密密钥)</i></li>

                <li><label>启用状态</label><span class="form_radio">
                    <label><input type="radio" class="inp_radio" value="0" name="status" <eq name="wechat_data['status']" value="0">checked="checked"</eq>>禁用</label>
                    <label><input type="radio" class="inp_radio" value="1" name="status" <eq name="wechat_data['status']" value="1">checked="checked"</eq>> 启用
                </label></span><i class="form_hint">微信公众号用状态</i></li>

                <li><label>&nbsp;</label><input type="hidden" name="name" value="wechat"></input></input><input type="submit" id="submit" value="确认保存" target-form="qq_login" class="form_btn ajax-post"></li>
            </ul>
		</form>
		</div>
		</div>
	</div>
</block>

<block name="script">
<script type="text/javascript">
	//导航高亮
	highlight_subnav('{:U('Wechat/index')}');
	$(function(){
		//支持tab
		showTab();
	})
</script>
</block>
