<extend name="Public/base"/>

<block name="body">
    <!-- 标题栏 -->
    <div class="main-place">
        <span class="main-placetitle">位置：</span>
        <ul class="main-placeul">
            <li><a href="{:U('Game/lists')}">游戏</a></li>
            <li><a href="{:U('Game/lists')}">游戏管理</a></li>
            <li><a href="#">{$meta_title}</a></li>
        </ul>
        <div class="question">
            <i class="question_mark">?</i>
            <ul class="question_content">
                <li class="question_title">功能以及数据相关说明</li>
                <li class="question_list">
                    <span class="">{$meta_title}</span>
                    <span class="">设置平台所有游戏开放类型以及类型列表。（公测、内测、删档内测等，此处主要在APP上展示）</span>
                </li>
            </ul>
        </div>
    </div>
	<div class="cf top_nav_list">
		<div class="fl button_list">
		<empty name="model.extend">
			<div class="tools">
				<a class="" href="{:U('add?model='.$model['id'])}"><span class="button_icon button_icon1"></span>新 增</a>
				<a class=" ajax-post confirm " target-form="ids" url="{:U('del?model='.$model['id'])}"><span class="button_icon button_icon2"></span>删 除</a>
                <!-- <a class=" ajax-post " target-form="ids" url="{:U('Opentype/set_status',array('status'=>1,'msg_type'=>2,'field'=>'status'))}"><span class="button_icon button_icon25"></span>开 启</a>
                <a class=" ajax-post " target-form="ids" url="{:U('Opentype/set_status',array('status'=>0,'msg_type'=>3,'field'=>'status'))}"><span class="button_icon button_icon26"></span>关 闭</a> -->
			</div>
		</empty>
		</div>
		<div class="jssearch fr cf search_list" style="margin-bottom:-15px;">
        <!--显示状态搜索-->
            <div class="input-list">
                <label>显示状态：</label>
                <select name="status">
                    <option value="all">全部</option>
                    <option value="1">开启</option>
                    <option value="0">关闭</option>
                </select>
            </div>
            <div class="input-list">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('Opentype/lists','model='.$model['name'],false)}">搜索</a>
            </div>
            <!--游戏类型搜索-->
<!--             <include file='Search/game_type' /> -->
            <!--游戏类型搜索END-->
            <!-- <div class="sleft">
                <input type="text" name="type_name" class="search-input" value="{:I('type_name')}" placeholder="请输入游戏类型名称">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('GameType/lists','model='.$model['name'],false)}"><i class="btn-search"></i></a>
            </div> -->
        </div>
	</div>


    <!-- 数据列表 -->
    <div class="data_list">
        <div class="">
            <table>
                <!-- 表头 -->
                <thead>
                    <tr>
                        <th>
                            <input class="check-all" type="checkbox">
                        </th>
                        <volist name="list_grids" id="field">
                            <th >{$field.title}</th>
                        </volist>
                            <th >操作</th>
                    </tr>
                </thead>

                <!-- 列表 -->
                <tbody>
                <empty name ="list_data">
                <td colspan="11" class="text-center"> aOh! 暂时还没有内容! </td>
                <else />
                    <volist name="list_data" id="data">
                        <tr>
                            <td><input class="ids" type="checkbox" value="{$data['id']}" name="ids[]"></td>
                            <volist name="list_grids" id="grid">
                                <if condition="strpos($grid['field'][0],'status') !== false">
                                <eq name="data.status" value="0">
                                <td><span class="disabled_status">{:get_list_field($data,$grid)}</span></td>
                                <else />
                                <td>{:get_list_field($data,$grid)}</td>
                                </eq>
                                <else />
                                <td>{:get_list_field($data,$grid)}</td>
                                </if>
                            </volist>
                            <td>
                            <a href="{:U('edit',array('model'=>$model['id'],'id'=>$data['id']))}">编辑</a>
                            <if condition="$data.status eq 0">
                            <a class="ajax-get" href="{:U("Opentype/set_status",array('ids'=>$data['id'],"status"=>1,"msg_type"=>2,"field"=>"status"))}">开启</a>
                            <else/>
                            <a class="ajax-get" href="{:U("Opentype/set_status",array('ids'=>$data['id'],"status"=>0,"msg_type"=>3,"field"=>"status"))}">关闭</a>
                            </if>
                            </td>
                        </tr>
                    </volist>
                    </empty>
                </tbody>
            </table>
        </div>
    </div>
    <div class="page">
        {$_page|default=''}
    </div>
</block>

<block name="script">
<script src="__STATIC__/layer/layer.js"></script>
<script type="text/javascript">
//导航高亮
highlight_subnav('{:U('Opentype/lists')}');
$(function(){
    Think.setValue('status',"{:I('status')}");
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.jssearch').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query  += "&"+$('.jssearch').find('select').serialize();
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});

    //回车自动提交
    $('.jssearch').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });

})
</script>
</block>
