<extend name="Public/loginreg" />
<block name="body" >
<link href="__CSS__/agreement.css" rel="stylesheet" />
<style>
@media screen and (max-width:750px) {
	
	.user-single-title{ font-size:24px;}
	.fixed{ right: 0%;margin-right: 0px;}
	.user-single-h{ width:100%; padding-left:0px;}
	.user-single-main{ width:100%;}
	.g-inner{ width:100%;text-align: center;line-height: 30px;}
	.content-main p{ margin:0px 10px;}
	}
</style>
{$article}
<script type="text/javascript">
$(".fixed").click(function(){
	window.close();
});
</script>>

</block>