<extend name="Public/base" />

<block name="body">
<link rel="stylesheet" type="text/css" href="__CSS__/admin_table.css" media="all">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <link rel="stylesheet" href="__CSS__/select2.min.css" type="text/css" />
    <script type="text/javascript" src="__JS__/select2.min.js"></script>
    <div class="main-place">
        <span class="main-placetitle">位置：</span>
        <ul class="main-placeul">
            <li><a href="{:U('PromoteWelfare/lists')}">福利管理</a></li>
            <li><a href="{:U('PromoteWelfare/lists')}">渠道福利</a></li>
            <li><a href="#">{$meta_title}</a></li>
        </ul>
    </div>
    <!-- 标签页导航 -->
<div class="tab-wrap">
    <div class="tab_nav jstabnav">
    <ul>
			<volist name=":parse_config_attr($model['field_group'])" id="group">
			<li data-tab="tab{$key}" <eq name="key" value="1">class="current"</eq>><a href="javascript:void(0);">{$group}</a></li>
			</volist>
    </ul></div>
    <div class="tab-content tab_content">
    <!-- 表单 -->
    <form id="form" action="{:U('edit?model='.$model['id'])}" method="post" class="form-horizontal">
        <!-- 基础文档模型 -->
		<div id="tab1" class="tab-pane in tab1 tab_table">
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td class="l">渠道帐号：</td>
                    <td class="r">
                        <select id="promote_id" name="promote_id" disabled="disabled">
                            <volist name=":get_promote_list(111)" id="vo">
                                <option value="{$vo.id}">{$vo.account}</option>
                            </volist>
                        </select>
                    </td>
                    <td class="l noticeinfo">
                        <div class="noticemaintitle">游戏名称：</div>
                        <div class="question">
                            <i class="question_mark">?</i>
                            <ul class="question_content">
                                <li class="question_title">功能以及数据相关说明</li>
                                <li class="question_list">
                                    <span class="">游戏名称</span>
                                    <span class="">选择支持福利的游戏名称</span>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="r">
                        <select id="game_id" name="game_id" disabled="disabled">
                            <volist name=":get_game_list()" id="vo">
                                <option value="{$vo.id}">{$vo.game_name}</option>
                            </volist>
                        </select>
                        <input type="hidden" id="game_name" name="game_name" value="{$data.game_name}">
                    </td>
                </tr>
                <tr>
                    <td class="l noticeinfo">
                        <div class="noticemaintitle">统一折扣：</div>
                        <div class="question">
                            <i class="question_mark">?</i>
                            <ul class="question_content">
                                <li class="question_title">功能以及数据相关说明</li>
                                <li class="question_list">
                                    <span class="">统一折扣</span>
                                    <span class="">游戏添加时设置的会长代充统一折扣值</span>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="r">
                        <span id="game_discount_txt"></span>
                        <input class="txt " name="game_discount" value="{$data.game_discount}" type="hidden"
                               id="game_discount">
                    </td>
                    <td class="l noticeinfo">
                        <div class="noticemaintitle">渠道代充折扣：</div>
                        <div class="question">
                            <i class="question_mark">?</i>
                            <ul class="question_content">
                                <li class="question_title">功能以及数据相关说明</li>
                                <li class="question_list">
                                    <span class="">渠道代充折扣</span>
                                    <span class="">设置该渠道享受的会长代充折扣</span>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="r">
                        <input type="text" class="txt " name="promote_discount" value="{$data.promote_discount}">
                    </td>
                </tr>
                <tr>
                    <td class="l noticeinfo">
                        <div class="noticemaintitle">首冲折扣：</div>
                        <div class="question">
                            <i class="question_mark">?</i>
                            <ul class="question_content">
                                <li class="question_title">功能以及数据相关说明</li>
                                <li class="question_list">
                                    <span class="">首冲折扣</span>
                                    <span class="">设置该渠道某个游戏的玩家第一次充值享受的折扣</span>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="r">
                        <input type="text" class="txt " name="first_discount" value="{$data.first_discount}">
                    </td>
                    <td class="l noticeinfo">
                        <div class="noticemaintitle">续冲折扣：</div>
                        <div class="question">
                            <i class="question_mark">?</i>
                            <ul class="question_content">
                                <li class="question_title">功能以及数据相关说明</li>
                                <li class="question_list">
                                    <span class="">续冲折扣</span>
                                    <span class="">设置该渠道某个游戏的玩家二次充值享受的折扣</span>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="r">
                        <input type="text" class="txt " name="continue_discount" value="{$data.continue_discount}">
                    </td>
                </tr>
                <tr>
                    <td class="l noticeinfo">
                        <div class="noticemaintitle">首冲状态：</div>
                        <div class="question">
                            <i class="question_mark">?</i>
                            <ul class="question_content">
                                <li class="question_title">功能以及数据相关说明</li>
                                <li class="question_list">
                                    <span class="">渠道状态</span>
                                    <span class="">开启和关闭玩家享受的首冲折扣</span>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="r table_radio">
                        <label>
                            <input type="radio" class="inp_radio" value="0" name="promote_status"> 关闭
                        </label>
                        <label>
                            <input type="radio" class="inp_radio" value="1" name="promote_status" checked="checked"> 开启
                        </label>
                    </td>
                    <td class="l noticeinfo">
                        <div class="noticemaintitle">续冲状态：</div>
                        <div class="question">
                            <i class="question_mark">?</i>
                            <ul class="question_content">
                                <li class="question_title">功能以及数据相关说明</li>
                                <li class="question_list">
                                    <span class="">渠道状态</span>
                                    <span class="">开启和关闭玩家享受的续冲折扣</span>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="r table_radio">
                        <label>
                            <input type="radio" class="inp_radio" value="0" name="cont_status"> 关闭
                        </label>
                        <label>
                            <input type="radio" class="inp_radio" value="1" name="cont_status" checked="checked"> 开启
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="l noticeinfo">
                        <div class="noticemaintitle">代充状态：</div>
                        <div class="question">
                            <i class="question_mark">?</i>
                            <ul class="question_content">
                                <li class="question_title">功能以及数据相关说明</li>
                                <li class="question_list">
                                    <span class="">代充状态</span>
                                    <span class="">开启和关闭该渠道所享受的渠道代充折扣</span>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="r table_radio">
                        <label>
                            <input type="radio" class="inp_radio" value="0" name="recharge_status"> 关闭
                        </label>
                        <label>
                            <input type="radio" class="inp_radio" value="1" name="recharge_status" checked="checked"> 开启
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="form-item cf">
            <input type="hidden" name="id" value="{$data.id}">
            <button class="submit_btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            
        </div>
    </form>
    </div>
</div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
//导航高亮
highlight_subnav('{:U('PromoteWelfare/lists')}');
Think.setValue("promote_id", "{$data.promote_id|default = 0}");
Think.setValue("game_id", "{$data.game_id|default = 0}");
Think.setValue("recharge_status", "{$data.recharge_status|default = 0}");
Think.setValue("promote_status", "{$data.promote_status|default = 0}");
Think.setValue("cont_status", "{$data.cont_status|default = 0}");
$('#submit').click(function(){
    $('#form').submit();
});

$(function(){
    $("#game_id").change();
    $(".select_2").select2();
  $('.date').datetimepicker({
      format: 'yyyy-mm-dd',
      language:"zh-CN",
      minView:2,
      autoclose:true
  });
   $('.time').datetimepicker({
        language:"zh-CN",
        hour: 13,
        minute: 15
    });
  showTab();
});

/*获取游戏名称*/
$("#game_id").change(function() {
    $("#game_name").val($("#game_id option:selected").text())
    getDiscount();
});

function getDiscount() {
    $.ajax({
        url:"{:U('Ajax/getGameDiscount')}",
        type:'post',
        dataType:'json',
        data:{game_id:$("#game_id").val()},
        success:function(data){
            $("#game_discount_txt").text(data.discount);
            $("#game_discount").val(data.discount);
        }
    })
}

</script>
</block>
