<extend name="Public/bases"/>

<block name="body" >
<style>.header-sub .logo .game-icon{height: 30px;width: auto;border-radius: 0;margin: 6px 0;}</style>
<section class="mod-con wxlbboxbg">
    <div class="mtopnav">
        <a href="{:U('index')}">礼包中心</a> &gt; 
        <a>今日发放</a>
    </div>
    
</section>	
<section class="mod-con">
    <div class="hd"><h2>礼包列表</h2></div>
    <ul class="gift-new-list">
        <volist name="lists" id="vo">
        <li>
            <div class="pic">
                <a href="{:U('detail?id='.$vo['id'])}">
                    <img src="{$vo.icon|get_cover='path'}" width="60" height="60">
                </a>
            </div>
            <div class="info">
              <span class="name"><a href="{:U('detail?id='.$vo['id'])}"><?php echo preg_replace('/(\(.+)/i','',$vo['game_name']);?>{$vo.giftbag_name}</a></span>
               <p class="pdtb3">总共：{$vo.total}，剩余：<span class="c-orange">{$vo.number}</span></p>
               <p>{$vo.desribe}</p>
            </div>
            <div class="btns"><a href="{:U('detail?id='.$vo['id'])}" class="btn-give">详情</a></div>
        </li>
        </volist>
	</ul>                    
</section>	
</block>