<extend name="Public/base"/>
<block name="body">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-place">
        <span class="main-placetitle">位置：</span>
        <ul class="main-placeul">
            <li><a href="{:U('Model/index')}">系统</a></li>
            <li><a href="{:U('Model/index')}">系统设置</a></li>
            <li><a href="#">{$meta_title}</a></li>
        </ul>
    </div>
	<form action="{:U()}" method="post" class="form-horizontal form_info_ml">
    <ul class="form_info form_info_channel">
        <li><label>快捷方式名称</label><div class="form_main"><input type="text" class="" name="title" value="{$info.title|default=''}" placeholder="请输入快捷方式名称"></div><i class="form_hint">用于显示的文字</i></li>
        <li><label>快捷方式URL</label><div class="form_main"><input type="text" class="" name="url" value="{$info.url|default=''}" placeholder="快捷方式URL"></div><i class="form_hint">用于跳转的链接</i></li>
        <!-- <li><label>&nbsp;</label><input type="hidden" name="id" value="{$info.id|default=''}"><input type="submit" class="form_btn ajax-post" value="确定" target-form="form-horizontal"></li> -->
        <!-- <input type="file" id="upload_picture_{$config.name}"> -->
        <!-- <li><label>快捷方式标识</label><div class="form_main"><input type="text" class="" name="name" value="{$info.name}" disabled="disabled" style="background: #0f0f1133;"></div><i class="form_hint">自动生成，不可改变</i></li>
        <input type="hidden" name="name" value="{$info.name}"> -->
        <input type="hidden" name="id" value="{:I('id')}">
         <li><input type="file" id="upload_picture_{$info.name}"></li>
        
        <input type="hidden" name="config" id="cover_id_{$info.name}" value="{$info['value']}"/>
        <div class="upload-img-box">
        <notempty name="info['value']">
            <div class="upload-pre-item"><img src="{$info['value']|get_cover='path'}"/></div>
        </notempty>
        </div>
        <button type="submit" class=" submit_btn ajax-post" target-form="form-horizontal">确 定</button> 
        </ul>
        <script type="text/javascript">
        //上传图片
        /* 初始化上传插件 */
        $("#upload_picture_{$info.name}").uploadify({
            "height"          : 30,
            "swf"             : "__STATIC__/uploadify/uploadify.swf",
            "fileObjName"     : "download",
            "buttonText"      : "上传快捷图标",
            "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
            "width"           : 120,
            'removeTimeout'   : 1,
            'fileTypeExts'    : '*.jpg; *.png; *.gif; *.ico;',
            "onUploadSuccess" : uploadPicture{$field.name},
            'onFallback' : function() {
                alert('未检测到兼容版本的Flash.');
            }
        });
        function uploadPicture{$field.name}(file, data){
            var data = $.parseJSON(data);
            var src = '';
            if(data.status){
                $("#cover_id_{$info.name}").val(data.id);
                src = data.url || '__ROOT__' + data.path;
                $("#cover_id_{$info.name}").parent().find('.upload-img-box').html(
                    '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                );
            } else {
                updateAlert(data.info);
                setTimeout(function(){
                    $('#top-alert').find('button').click();
                    $(that).removeClass('disabled').prop('disabled',false);
                },1500);
            }
        }
        </script>  
	</form>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
	//导航高亮
	highlight_subnav('{:U('index')}');
</script>
</block>
