@charset "utf-8";

/*css reset*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0;}
fieldset,img{border:none;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
ul,ol{list-style:none;}
input{padding-top:0;padding-bottom:0;}
input::-moz-focus-inner{border:none;padding:0;}
select,input{vertical-align:middle;}
select,input,textarea{margin:0;}
input[type="text"],input[type="password"],textarea{outline-style:none;-webkit-appearance:none;}
textarea{resize:none;}
table{border-collapse:collapse;}
body{font: 12px/1.42857143 "Arial","Microsoft YaHei","微软雅黑", "宋体"; color:#333;}
input, textarea, keygen, select, button {font-family:"Arial","Microsoft YaHei","微软雅黑", "宋体";}
h1, h2, h3, h4{font-family:"Microsoft YaHei","微软雅黑", "Arial";}

a{text-decoration:none;}
a:hover{text-decoration:none;}
a:focus{outline:none;}
.clearfix{zoom:1;}
.clearfix:before,.clearfix:after{content:".";display:block;height:0;visibility:hidden;}
.clearfix:after{clear:both;}
.fl{float:left;}.fr{float:right;}
.break{ word-break:break-all; word-wrap:break-word}
.hide{display:none;}
.mt15{margin-top:15px;}
.mb15{margin-bottom:15px !important;}
.red{color:#f00;}
a, a:active, a:link, a:visited {
    text-decoration: none;
}
.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{padding:8px;vertical-align:middle;line-height:1.42857143;}
.caret{display: inline-block; width: 0; height: 0; margin-left: 2px; vertical-align: middle; border-top: 4px solid; border-right: 4px solid transparent; border-left: 4px solid transparent;}
.container {width:1200px;margin:0 auto;}
hr{box-sizing:content-box;height:0;border:0;border-top:1px solid #eee;border-top-color:#dee5ea;}
.hidden {display:none;}
.left {float:left!important;}
.right {float:right!important;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.h4, h4 {
    font-size: 18px;
}
[role=button] {
    cursor: pointer;
}
.f-toe {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pull-left {float: left!important;}
.pull-right {float: right!important;}
caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}
/* header */
/* .header{background-color:#5A90EE; font-size: 15px;}
.header a{color:#C3D9FF;}
.header a:hover{text-decoration:none;}
.head_inner{width:1200px;height:50px; margin:0 auto; background-color:#5A90EE; position:relative; z-index:99}
.head_inner .logo{float:left; margin:0 30px 0 10px;height:100%;}
.head_inner .logo a{display:block; height:100%;}
.head_inner .logo img{display:inline-block; height:70%;margin-top:5%;}
.head_inner .logo span{display:inline-block; vertical-align:top; font-size:18px; line-height:50px; margin-left:15px; color:#fff;}
.head_inner .nav{float:left;height:100%;}
.head_inner .nav li{float:left;height:100%;}
.head_inner .nav li a{display:block; height:100%; line-height:50px; padding:0 20px;}
.head_inner .nav li a:hover,.head_inner .nav li.active a{background-color:rgba(255,255,255,0.2);color:rgba(250,250,250,1);}
.head_inner .unlr{float:right;height:100%;font-size:14px;}
.head_inner .unlr li{float:left; position:relative;height:100%;}
.head_inner .unlr li a{ display:block; height:100%; line-height:50px; padding:0 10px;}
.head_inner .unlr li a:hover{color:rgba(250,250,250,1);}
.head_inner .logined .active a,.head_inner .logined .active a:focus{background-color:hsla(0,0%,100%,.2);color:#fafafa}
 */
.header{background-color:#fff; font-size: 16px;}
.head_inner{width: 1200px;
    margin: 0 auto;
    height: 63px;
    line-height: 63px;
    padding: 10px 0;
    }
.head_inner .logo {
    float: left;
}
.head_inner .logo img {
    height: 60px;
    float: left;
}
.head_inner .logo i {
    width: 1px;
    height: 40px;
    background-color: #e6e6e6;
    margin: 0 10px;
    float: left;
    margin-top: 10px;
}
.head_inner .logo span {
    color: #6c6c6c;
    float: left;
}
.unlr {
    float: right;
    font-size: 14px;
}
.unlr li {
    float:left;
}
.unlr li a {margin:0 10px;color:#333;}
.unlr li a:hover {color:#5A90EE;}
.navlist {
    float: right;
    margin-right: 40px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navlist li {
    float: left;
    width: 100px;
    position: relative;
}
.navlist li a {
    display: block;
    text-align: center;
    position: relative;color:#333;
}
.navlist li a:hover span, .navlist li a.active span {
    border-bottom: 2px solid #5A90EE;
    padding-bottom: 10px;
    color: #5A90EE;
}

/**/
.main {min-height:800px;}

/* pagination */
.pagination .current.prev, .pagination .prev,.pagination .current.next, .pagination .next {border-radius:0;}
.pagination_wrap{position:relative;text-align:center;}
.pagination{display:inline-block;margin:20px 0;padding-left:0;}
.pagination>li{display:inline;}
.pagination>li>a,.pagination>li>span{position:relative;float:left;margin-left:-1px;padding:6px 9pt;border:1px solid #ddd;background-color:#fff;color:#74A0FF;text-decoration:none;line-height:1.42857143;}
.pagination li a{color:#5A8df2;}

.pagination_wrap{ min-height: 40px; margin-top: 10px;}
.pagination_wrap a,.pagination_wrap span{position:relative;padding:6px 9pt;border:1px solid #ddd;background-color:#fff;color:#74A0FF;text-decoration:none;line-height:1.42857143;}

.pagination_change>li>a,.pagination_change>li>span{padding:5px 10px;font-size:9pt;line-height:1.5;}
/* .pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px;}
.pagination_change>li:first-child>a,.pagination_change>li:first-child>span{border-bottom-left-radius:3px;border-top-left-radius:3px;}
 */.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{z-index:3;border-color:#ddd;background-color:#eee;color:#74A0FF;}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:2;border-color:#74A0FF;background-color:#74A0FF;color:#fff;cursor:default;}
.pagination .active a,.paging b{border-color:#5A8df2;background-color:#5A8df2;color:#fff;}

.pagination a, .pagination span {
    color: #5A8df2;
}
.pagination .current {
    background-color: #5A8df2;
    border: solid 1px #5A8df2;
    color: #fff;
}
.pagination .current.prev, .pagination .current.next {
    color: #5A8df2;
    border-color: #ddd;
    background: #fff;
}

/* footer */
/* .footer{width:1000px; margin:0 auto; padding:20px 0 20px 0;font-size:13px;}
.footer p{text-align:center; color:#666;line-height:24px;}
.footer p a {margin:0 5px;color:#666;}
.footer p span {font-style:normal;width:2px;height:10px;position:relative;}
.footer p span::before{display:inline-block;content:"";position:absolute;top:2px;left:0;width:2px;height:10px;background:#9d9d9d;}
 */
.footer {width:100%;text-align:center;line-height:40px;height:40px;font-size:13px;background-color:#000;color:#fff;}
/* window */
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;outline:0;font-size:14px;-webkit-overflow-scrolling:touch;}
.fade{opacity:0;-webkit-transition:opacity .15s linear;transition:opacity .15s linear;}
.fade.in{opacity:1;}
.modal-open .modal{overflow-x:hidden;overflow-y:auto;}
.modal *{box-sizing:border-box;}
.modal .hidden{display:none!important;}
.modal label{display:inline-block;margin-bottom:5px;max-width:100%;font-weight:700;}
.modal input[type=checkbox],input[type=radio]{box-sizing:border-box;margin:-2px 0 0;cursor:pointer;margin-top:1px\9;padding:0;line-height:normal;}
.modal a{background-color:transparent;color:#00aeef;}
.modal .modal-dialog{margin:30px auto;width:600px;}
.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0,-25%);transform:translate(0,-25%);-ms-transform:translate(0,-25%);}
.modal.in .modal-dialog{-webkit-transform:translate(0,0);transform:translate(0,0);-ms-transform:translate(0,0);}
.modal .modal-content{position:relative;outline:0;border:1px solid #999;border:1px solid rgba(0,0,0,.2);/* border-radius:6px; */background-color:#fff;background-clip:padding-box;box-shadow:0 3px 9px rgba(0,0,0,.5);-webkit-background-clip:padding-box;}
.modal .modal-header{padding:15px;min-height:16.43px;border-bottom:1px solid #e5e5e5;}
.modal .close{float:right;color:#000;text-shadow:0 1px 0 #fff;font-weight:700;font-size:21px;line-height:1;opacity:.2;filter:alpha(opacity=20);}
.modal button.close{padding:0;border:0;background:0 0;cursor:pointer;-webkit-appearance:none;}
.modal .modal-header .close{margin-top:-2px;}
.modal .modal-title{margin:0;color:inherit;font-weight:500;font-size:18px;line-height:1.42857143;}
.modal .modal-body{position:relative;padding:15px;}
.modal .col-md-offset-2{margin-left:16.66666667%;}
.modal .col-md-8{position:relative;float:left;padding-right:15px;padding-left:15px;width:66.66666667%;min-height:1px;}
.modal .col-sm-9{float:left;width:75%;min-height:1px;}
.modal .col-sm-4{position:relative;float:left;margin-right:-15px;margin-left:-15px;padding-right:15px;padding-left:15px;width:33.33333333%;min-height:1px;}
.modal .form-group{margin-bottom:15px;}
.modal .form-horizontal .form-group{margin-right:-15px;margin-left:-15px;}
.modal .input-group{position:relative;display:table;border-collapse:separate;}
.modal .input-group-addon,.modal .input-group-btn{width:1%;vertical-align:middle;white-space:nowrap;}
.modal .input-group-addon{padding:6px 9pt;border:1px solid #ccc;border-radius:4px;background-color:#eee;color:#555;text-align:center;font-weight:400;font-size:14px;line-height:1;}
.modal .input-group-addon:first-child{border-right:0;}
.modal .form-control{display:block;padding:6px 9pt;width:100%;height:34px;border:1px solid #ccc;border-radius:0px;background-color:#fff;background-image:none;box-shadow:inset 0 1px 1px rgba(0,0,0,.075);color:#555;font-size:14px;line-height:1.42857143;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.modal .input-group .form-control{position:relative;z-index:2;float:left;margin-bottom:0;width:100%;}
.modal .input-group .form-control,.modal .input-group-addon,.modal .input-group-btn{display:table-cell;}
.modal .input-group .form-control:last-child,.modal .input-group-addon:last-child,.modal .input-group-btn:first-child>.btn-group:not(:first-child)>.btn,.modal .input-group-btn:first-child>.btn:not(:first-child),.modal .input-group-btn:last-child>.btn,.modal .input-group-btn:last-child>.btn-group>.btn,.modal .input-group-btn:last-child>.dropdown-toggle{border-bottom-left-radius:0;border-top-left-radius:0;}
.modal .input-group .form-control:first-child,.modal .input-group-addon:first-child,.modal .input-group-btn:first-child>.btn,.modal .input-group-btn:first-child>.btn-group>.btn,.modal .input-group-btn:first-child>.dropdown-toggle,.modal .input-group-btn:last-child>.btn-group:not(:last-child)>.btn,.modal .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle){border-top-right-radius:0;border-bottom-right-radius:0;}
.modal .input-group .form-control:not(:first-child):not(:last-child),.modal .input-group-addon:not(:first-child):not(:last-child),.modal .input-group-btn:not(:first-child):not(:last-child){border-radius:0;}
.modal .forget_password{float:left;display:table;margin-left:10px;padding:5px;text-decoration:underline;}
.modal .f-wsn{white-space:nowrap;word-wrap:normal;}
.modal .f-wsn img{vertical-align:middle;}
.modal .remember_me_wrap{float:left;margin-right:-15px;margin-left:-15px;}
.modal .input-status{padding:5px 0 0 15px;}
.modal .error{color:#a94442;}
.modal .small,.modal small{font-size:85%;}
.modal .has-error .form-control{border-color:#a94442;box-shadow:inset 0 1px 1px rgba(0,0,0,.075);}
.modal .has-error .input-group-addon{border-color:#a94442;background-color:#f2dede;color:#a94442;}
.modal .modal_footer{padding:15px;border-top:1px solid #e5e5e5;text-align:right;text-align:center;}
.modal button,.modal input[type=button],.modal input[type=reset],.modal input[type=submit]{cursor:pointer;-webkit-appearance:button;}
.modal .btn{display:inline-block;margin-bottom:0;padding:6px 9pt;border:1px solid transparent;/* border-radius:4px; */background-image:none;vertical-align:middle;text-align:center;white-space:nowrap;font-weight:400;font-size:14px;line-height:1.42857143;cursor:pointer;-ms-touch-action:manipulation;touch-action:manipulation;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.modal .btn_primary{padding:0 15px;width:auto;height:35px;border-color:#5A8df2;background-color:#5A8df2;color:#fff;font-size:14px;line-height:35px;}
.modal .btn_primary:focus,.modal .btn_primary:hover{background-color:#74A0FF;box-shadow:none;}
.modal .btn_default{padding:0 15px;width:auto;height:35px;border:1px solid #e6e6e6;background-color:#f2f2f2;box-shadow:none;color:#555;font-size:14px;line-height:35px;}
.modal .btn_default:hover{border-color:#adadad;background-color:#e6e6e6;color:#333;}
.modal .modal_footer .btn+.btn{margin-bottom:0;margin-left:5px;}
.modal .btn_default,.modal .btn_default:focus{padding:0 15px;width:auto;height:35px;border:1px solid #e6e6e6;background-color:#f2f2f2;box-shadow:none;color:#555;font-size:14px;line-height:35px;}
.left_title_img{display: inline-block;margin-right: 10px;width: 20px;vertical-align: middle;text-align: center;font-size: 22px;}
