<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" >
        <link rel="shortcut icon" href="">
        
        <title></title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <link href="__CSS__/common.css" rel="stylesheet">
        
        <script src="__JS__/jquery.min.js"></script>
        <script src="__JS__/common.js"></script>
        
    </head>
    <body>
        <div class="header">
            <div class="inner">
                <a href="javascript:" onClick="javascript:history.back(-1);">
                    <img class="return" src="__IMG__/return.png">
                </a>
                <h1 class="title">玩游戏 就上溪谷手游</h1>
            </div>    
        </div>    
        <div class="main">
            <div class="inner">
                <div class="banner">
                    <img class="img1" src="__IMG__/img_download.png" >
                    <img class="img2" src="__IMG__/img_download.png" >
                </div>
                <h3 class="title">恭喜您注册成功！</h3>
                <p class="text">立即下载溪谷手游享受游戏带来的无限快感</p>
                <a class="download" href="{:U('Down/android_app_down')}">下载APP</a>
            </div>
        </div>
        <div class="footer">
           
        </div> 
    </body>
</html>