<extend name="Public/base"/>

<block name="body">
<link rel="stylesheet" href="__CSS__/select2.min.css" type="text/css" />
<script type="text/javascript" src="__JS__/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__/select2.min.js"></script>
    <!-- 标题栏 -->
    <div class="main-place">
        <span class="main-placetitle">位置：</span>
        <ul class="main-placeul">
            <li><a href="{:U('Promote/lists')}">渠道</a></li>
            <li><a href="{:U('Promote/ch_reg_list')}">结算管理</a></li>
            <li><a href="#">CP结算</a></li>
        </ul>
        <div class="question">
            <i class="question_mark">?</i>
            <ul class="question_content">
                <li class="question_title">功能以及数据相关说明</li>
                <li class="question_list">
                    <span class="">CP结算</span>
                    <span class="">统计汇总不同CP方游戏的充值注册信息，此处因没有记录后台发放的绑定平台币成本，所有只作为参考。实际CP方结算请依据CP提供的游戏联运平台。</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab_nav jstabnav box_mt">
    <ul>
        <li class="<eq name='group' value='1'>current</eq>"><a href="{:U('cpsettlement?group=1')}">CP结算</a></li>
        <li class="<eq name='group' value='2'>current</eq>" ><a href="{:U('cpsettlement?group=2')}">结算记录</a></li>
    </ul></div>
    <div class="cf top_nav_list">
        <if condition="I('group') eq 1  or $group eq 1">
        <div class="fl button_list">
        <empty name="model.extend">
            <div class="tools">
                <a class=" ajax-post " target-form="ids" url="{:U('generatecpsettlement?model='.$model['id'],array('ids'=>$data['gid'],'timestart'=>I('timestart')))}"><span class="button_icon button_icon14"></span>批量结算</a>
            </div>
        </empty> 
        </div>
        </if>
        <!-- 高级搜索 -->
        <div class="jssearch fr cf search_list">
            <div class="input-list" id="" >
            <div class="input-list">
                <label>选择结算月份：</label>
                <input type="text" id="time-start" name="timestart" class="" value="{:I('timestart')}" placeholder="请选择本月前时间" /> 
            </div>
            <input type="hidden" name="" value="" class="sortBy">     
                <div class="input-list input-list-game search_label_rehab">
                <label>游戏名称：</label>
                <select id="game_id" name="game_id" class="select_gallery" >
                    <option value="">请选择游戏</option>
                    <volist name=":get_game_list()" id="vo">
                        <option game-id="{$vo.id}" value="{$vo.game_name}">{$vo.game_name}</option>
                    </volist>
                    <input type="hidden" id="game_name" name="game_name" value="{:I('game_name')}">
                    <!-- <input type="hidden" id="game_namee" name="game_id" value=""></input> -->
                </select>  
            </div> 
            </div>
            <if condition="I('group') eq 1  or $group eq 1">
                <div class="input-list">
                    <label>结算状态：</label>
                    <select name="selle_status">
                        <option value="">全部</option>
                        <option value="未结算">未结算</option>
                        <option value="已结算">已结算</option>
                    </select>
                </div>
            </if>
            <if condition="I('group') eq 1  or $group eq 1">
            <div class="input-list">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('Query/cpsettlement?group=1','model='.$model['name'],false)}">搜索</a>
            </div>
            </if>
            <if condition="I('group') eq 2  or $group eq 2">
            <div class="input-list">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('Query/cpsettlement?group=2','model='.$model['name'],false)}">搜索</a>
            </div>
            </if>
        </div>
    </div>


    <!-- 数据列表 -->
    <div class="data_list">
        <div class="">
        <if condition="$group eq 1">
            <table>
                <!-- 表头 -->
                <thead>
                    <tr>
                        <th>
                            <input class="check-all" type="checkbox">
                        </th>
                        <th>月份</th>
                        <th>CP方</th>
                        <th>游戏名称</th>
                        <!-- <th>总充值</th> -->
                        <th><a class="paixu" date-url='sum_money'><if condition="$Think.get.sum_money eq 1">总充值▲<elseif condition="$Think.get.sum_money eq 2"/>总充值▼<else />总充值<img src="__IMG__/up-down.png" width="13px"></if></a></th>
                        <!-- <th>注册人数</th> -->
                        <th>分成比例</th>
                        <th>结算金额</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <!-- 列表 -->
                <tbody>
                <empty name="data">
                <tr>
                <td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
                </tr>
                <else />
                    <volist name="data" id="data">
                    <tr>
                            <td ><input class="ids" type="checkbox" value="{$data['gid']}" name="ids[]" <if condition="$data.selle_status eq 1"> disabled="disabled"</if>></td>
                            <td>{:I('timestart')}</td>
                            <td><if condition="$data.developers neq ''">{$data.developers}<else/>暂无CP方</if></td>
                            <td>{$data.game_name}</td>
                            <td>{$data.total}</td>
                            <!-- <td></td> -->
                            <td><if condition="$data.selle_status eq 0"><a class="rarara" data-gid="{$data.gid}" daat-ids="{$data.id}" title="点击修改">{$data.selle_ratio}%</a><else/>{$data.selle_ratio}%</if>
                            <input type="hidden" class="rara1" name="ratio" value="{$data['selle_ratio']}"></td>
                            <td>{:$data['total']*$data['selle_ratio']/100}</td>
                            <td><if condition="$data.selle_status eq 0"><span style="color: orange">未结算</span><else/>已结算</if></td>
                            <td><if condition="$data.selle_status eq 0"><a href="{:U('generatecpsettlement',array('ids'=>$data['gid'],'timestart'=>I('timestart'),'total'=>$data['total'],'selle_ratio'=>$data['selle_ratio'],'developers'=>$data['developers']))}">结算</a><else/>结算</if></td>
                        </tr>
                    </volist>
                    </empty>
                </tbody>
            </table>
        </if>
        <if condition="$group eq 2">
            <table>
                <!-- 表头 -->
                <thead>
                    <tr> 
                        <!-- <th>
                            <input class="check-all" type="checkbox">
                        </th> -->
                        <th>月份</th>
                        <th>CP方</th>
                        <th>游戏名称</th>
                        <th>总充值</th>
                        <!-- <th>注册人数</th> -->
                        <th>分成比例</th>
                        <th>结算金额</th>
                        <th>状态</th>                     
                    </tr>
                </thead>
                <!-- 列表 -->
                <tbody>
                <empty name="data">
                <tr>
                <td colspan="7" class="text-center"> aOh! 暂时还没有内容! </td>
                </tr>
                <else />
                    <volist name="data" id="data">
                    <tr> 
                        <!-- <td>
                            <input class="ids" type="checkbox" value="" name="ids[]">
                        </td> -->
                        <td><if condition="I('timestart') neq ''">{:I('timestart')}<else/>{$data.selle_time}</if></td>
                        <td>{$data.developers}</td>
                        <td>{$data.game_name}</td>
                        <td>{$data.total}</td>
                       
                        <td>{$data.selle_ratio}%</td>
                        <td>
                            <span style="color: orange">{:$data['total']*$data['selle_ratio']/100}</span>
                        </td>
                        <td>已结算</td>
                    </tr>
                    </volist>
                    </empty>
                    <tr class="data_summary">
                        <td>汇总</td>
                        <td colspan="7">本页结算:{:null_to_0($alltotal)}元 今日结算：{$ttotal}元 ； 昨日结算：{$ytotal}元 ； 累计结算：{$ztotal}元</td>
                    </tr>
                </tbody>
            </table>
        </if>
        </div>
    </div>
    <div class="page">
        {$_page|default=''}
    </div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script src="__STATIC__/layer/layer.js" type="text/javascript"></script>
<script src="__STATIC__/layer/extend/layer.ext.js" type="text/javascript"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
    $(".select_gallery").select2();
    $(".input-list-game").click(function(){
        $('#select2-game_id-container').text('请选择游戏');
        $("#game_name").val('');
        $("#game_namee").val('');
    });
    $("#game_id").change(function() {
        $("#game_name").val($("#game_id option:selected").val());
        $("#game_namee").val($("#game_id option:selected").attr('game-id'));
    });
</script>
<script type="text/javascript">
//导航高亮
highlight_subnav('{:U('Query/cpsettlement')}');
if('{$Think.get.game_name}'!=''){
    $('#select2-game_id-container').text('{$Think.get.game_name}');
}
$(function(){

    Think.setValue('selle_status',"{:I('selle_status')}");
    $(".paixu").click(function(){
        $ddd=$(this).attr('date-url');
        $sum_money="{:I('sum_money')}";
        $create_time = "{:I('create_time')}";
        $sss="{:I('group')}";
        if($ddd=='sum_money'&&$sss!=2){
            if($sum_money==1){
                $(".sortBy").attr('name','sum_money');
                $(".sortBy").attr('value',2);
                $("#search").click();
            }else{
                $(".sortBy").attr('name','sum_money');
                $(".sortBy").attr('value',1);
                $("#search").click();
            }
        }
    });
    //搜索功能
    $("#search").click(function(){

        //判断是否符合搜索条件
        var now_time = "{:date('Ym')}";
        var date = $("#time-start").val();
        date = date.substring(0,19);
        date = date.replace(/-/g,'');
        if(now_time-date <= 0 || date == ''){
            layer.msg('请选择本月之前的月份');
            return false;
        }


        var url = $(this).attr('url');
        var query  = $('.jssearch').find('input').serialize();
        query  += "&"+$('.jssearch').find('select').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
        window.location.href = url;
    });

    //回车自动提交
    $('.jssearch').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });

    //点击排序
    $('.list_sort').click(function(){
        var url = $(this).attr('url');
        var ids = $('.ids:checked');
        var param = '';
        if(ids.length > 0){
            var str = new Array();
            ids.each(function(){
                str.push($(this).val());
            });
            param = str.join(',');
        }

        if(url != undefined && url != ''){
            
            window.location.href = url.replace(".html","") + '/ids/' + param;
        }
    });
    
    $('#time-start').datetimepicker({
        format: 'yyyy-mm',
        language:"zh-CN",
        weekStart: 1,  
        autoclose: true,  
        startView: 3,  
        minView: 3,  
        forceParse: false, 
    });

    $('#datetimepicker').datetimepicker({
       format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true,
        pickerPosition:'bottom-left'
    })
    
    $('#game').on('click',function(event) {
        var navlist = $(this).find('.nav-list');
        if (navlist.hasClass('hidden')) {
            navlist.removeClass('hidden');
            $(this).find('.sort-txt').focus().val('');            
        } else {
            navlist.addClass('hidden');
        }
        $(document).one('click', function(){
            navlist.addClass('hidden');
        });
        event.stopPropagation();
    });

    $('#game .sort-txt').on('keyup',function(event) {
        var val  = $.trim($(this).val()).toLowerCase();
        $('#game').siblings('input').val(val);
    });
    
    $('#game .nav-list').find("a").each(function(){
        var that = $('#game');
        $(this).click(function(){
            var text = $.trim($(this).text()).toLowerCase();
            that.find('.sort-txt').val(text);
            that.siblings('input').val(text);
        })
    });
    
    
    $('#promote').on('click',function(event) {
        var navlist = $(this).find('.nav-list');
        if (navlist.hasClass('hidden')) {
            navlist.removeClass('hidden');
            $(this).find('.sort-txt').focus().val('');            
        } else {
            navlist.addClass('hidden');
        }
        $(document).one('click', function(){
            navlist.addClass('hidden');
        });
        event.stopPropagation();
    });

    $('#promote .sort-txt').on('keyup',function(event) {
        var val  = $.trim($(this).val()).toLowerCase();
        $('#promote').siblings('input').val(val);
    });
    
    $('#promote .nav-list').find("a").each(function(){
        var that = $('#promote');
        $(this).click(function(){
            var text = $.trim($(this).text()).toLowerCase();
            that.find('.sort-txt').val(text);
            that.siblings('input').val(text);
        })
    });
    
    $(".rarara").on("click",function(){
        //prompt层
        var gid= $(this).data('gid');
        var timestart="{:I('timestart')}";
        layer.prompt({
          title: '请输入0-100的整数，并确认',
          formType: 0 //prompt风格，支持0-2
        }, function(pass){
            var r = /^([\d]{1,2}$|[100])$/;　　//0-100的正整数
            if(isNaN(pass)||!r.test(pass)){
                layer.alert("分成比例输入不正确");
            }else{
                layer.close(layer.prompt());
                $.ajax({
                        url: '{:U('changeratio')}',
                        data:{
                            game_id:gid,
                            timestart:timestart,
                            ratio:pass,
                        },
                        type:'post',  
                        cache:false,  
                        dataType:'json', 
                    success:function(data) { 
                        if(data>0){
                        layer.msg("修改成功");      
                        window.location.reload();  
                        }else{
                            layer.msg("修改失败"); 
                        }
                    },  
                    error:function(){  
                        alert(222);
                    }  
                });
            }      
        });
    });
})
</script>
</block>
