<extend name="Public/base"/>

<block name="body">
    <div class="main-place">
        <span class="main-placetitle">位置：</span>
        <ul class="main-placeul">
            <li><a href="{:U('User/index')}">用户</a></li>
            <li><a href="{:U('User/index')}">管理组</a></li>
            <li><a href="#">{$meta_title}</a></li>
        </ul>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal form_info_ml">
        <div class="formtitle"><span>基本信息</span></div>
        <ul class="form_info ">
            <li><label>管理员账号</label><input name="username" type="text" class=""><i class="form_hint">管理员账号用于管理后台登录</i></li>
            <li><label>管理员密码</label><input name="password" type="password" class=""><i class="form_hint">管理员密码不能少于6位</i></li>
            <li><label>确认密码</label><input name="repassword" type="password" class=""><i class="form_hint">管理员密码不能少于6位</i></li>
            <li><label>二级密码</label><input name="second_pwd" type="password" class=""><i class="form_hint">用于账号验证，修改用户平台币操作</i></li>
            <li><label>角色类型</label><select name="auth" id="authid">
                <volist name="lists" id="sd">
                    <option value="{$sd['id']}">{$sd['title']}</option>
                </volist>
            </select><i class="form_hint">角色类型不同，管理权限也不同</i></li>
            <li><label>邮箱</label><input name="email" type="text" class=""><i class="form_hint">管理员邮箱，用于找回密码等安全操作</i></li>
            <li><label>&nbsp;</label><input type="submit" id="submit" value="确认保存" target-form="form-horizontal" class="form_btn ajax-post"></li>
        </ul>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
