<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
    <div class="main-place">
        <span class="main-placetitle">位置：</span>
        <ul class="main-placeul">
            <li><a href="{:U('User/index')}">用户</a></li>
            <li><a href="{:U('User/index')}">管理组</a></li>
            <li><a href="#">{$meta_title}</a></li>
        </ul>
        <div class="question">
            <i class="question_mark">?</i>
            <ul class="question_content">
                <li class="question_title">功能以及数据相关说明</li>
                <li class="question_list">
                    <span class="">管理员列表</span>
                    <span class="">可设置不同角色以及对应权限</span>
                </li>
            </ul>
        </div>
    </div>
	<div class="cf top_nav_list">
		<div class="fl button_list">
            <a class="" href="{:U('add')}"><span class="button_icon button_icon1"></span>新增</a>
        </div>

        <!-- 高级搜索 -->
		<div class="fr cf search_list jssearch">
			<div class="sleft">
                <label>管理员账号：</label>
				<input type="text" name="nickname" class="" value="{:I('nickname')}" placeholder="">
			</div>
			<div class="sleft">
				<select name="status">
					<option value="">状态</option>
					<option value="1">正常</option>
					<option value="0">锁定</option>
				</select>
            </div>
            <div class="sleft">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}">搜索</a>
            </div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data_list">
	<table class="">
    <thead>
        <tr>
		<th class=""><input class="check-all" type="checkbox"/></th>
		<th class="">账号ID</th>
		<th class="">管理员账号</th>
		<th class="">角色类型</th>
		<th class="">登录次数</th>
		<th class="">最后登录时间</th>
		<th class="">最后登录IP</th>
		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>
			<td>{$vo.uid} </td>
			<td>{$vo.nickname}</td>
			<td>{:get_auth_group_name($vo['uid'])}</td>
			<td>{$vo.login}</td>
			<td><span>{$vo.last_login_time|time_format0}</span></td>
			<td><span>{:long2ip($vo['last_login_ip'])}</span></td>
			<if condition="$vo.status eq 0">
			<td><span style="color: #ea2020">{$vo.status_text}</span></td>
			<else/>
			<td>{$vo.status_text}</td>
			</if>
			<td><a  href="{:U('User/edit?id='.$vo['uid'])}" class="">编辑</a>
				<eq name="vo.status" value="1">
				<a href="{:U('User/changeStatus?method=forbidUser&id='.$vo['uid'])}" class="ajax-get ">锁定</a>
				<else/>
				<a href="{:U('User/changeStatus?method=resumeUser&id='.$vo['uid'])}" class="ajax-get ">解锁</a>
				</eq>
<!-- 				<a href="{:U('AuthManager/group?uid='.$vo['uid'])}" class="authorize">授权</a> -->
                <a href="{:U('User/delete',['id'=>$vo['uid']])}" class="confirm ajax-get">删除</a>
                </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
        Think.setValue('status',"{:I('status')}");
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.jssearch').find('input').serialize();
        query  += "&"+$('.jssearch').find('select').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('User/index')}');
	</script>
</block>
