<extend name="Public/base"/>
<block name="body">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-place">
        <span class="main-placetitle">位置：</span>
        <ul class="main-placeul">
            <li><a href="{:U('Model/index')}">系统</a></li>
            <li><a href="{:U('Model/index')}">系统设置</a></li>
            <li><a href="#">{$meta_title}</a></li>
        </ul>
    </div>
	<form action="{:U()}" method="post" class="form-horizontal form_info_ml">
    <ul class="form_info form_info_channel">
        <!-- <li><label>是否分类标题</label><div class="form_main"><input type="checkbox" name="istitle"  class="istitle"></div><i class="form_hint"></i></li> -->
        <li class="futitle">
            <label>分类标题</label>
            <div class="form_main">
                <select id="title" name="id">
                    <volist name=':get_kefu_data()' id='vo'>
                        <option value="{$vo.id}">{$vo.title}</option>
                        <!--<option value="{$vo.id}" style="display:none" >{$vo.sdk_version}</option>-->
                    </volist>
                </select>
            </div>
            <input type="hidden" name="istitle" value="2">
            <i class="form_hint"></i>
        </li>
        <!-- <li class="futitle"><label>分类标题URL</label><div class="form_main"><input type="text" class="" name="titleurl" value="" placeholder="请输入分类标题URL"></div><i class="form_hint"></i></li> -->
        <li class="zititle"><label>子标题</label><div class="form_main"><input type="text" class="" name="zititle" value="" placeholder="子标题"></div><i class="form_hint"></i></li>
        <li class="zititle"><label>子标题参数</label><div class="form_main"><input type="text" class="" name="zititleurl" value="" disabled="disabled" style="background: #cecece;" placeholder="自动生成"></div><i class="form_hint"></i></li>
        <li class="zititle"><label>内容</label><div class="form_main"><textarea name="contend"></textarea></div><i class="form_hint"></i></li>
        <!-- <li><label>&nbsp;</label><input type="hidden" name="id" value="{$info.id|default=''}"><input type="submit" class="form_btn ajax-post" value="确定" target-form="form-horizontal"></li> -->
        <!-- <input type="file" id="upload_picture_{$config.name}"> -->
        <button type="submit" class=" submit_btn ajax-post" target-form="form-horizontal">确 定</button> 
        </ul>
	</form>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
	//导航高亮
	highlight_subnav('{:U('index')}');
    if($('.istitle').prop('checked')){
        $('.zititle').attr('style','display:none');
    }
    $('.istitle').click(function(){
        if($('.istitle').prop('checked')){
            $('.zititle').attr('style','display:none');
        }else{
            $('.zititle').attr('style','');
        }
    });
</script>
</block>
