<extend name="Public/base" />

<block name="body">
<link rel="stylesheet" type="text/css" href="__CSS__/admin_table.css" media="all">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-place">
        <span class="main-placetitle">位置：</span>
        <ul class="main-placeul">
            <li><a href="{:U('Promote/lists')}">渠道</a></li>
            <li><a href="{:U('Promote/ch_reg_list')}">数据管理</a></li>
            <li><a href="#">新增代充额度</a></li>
        </ul>
    </div>
    <form id="form" action="{:U('pay_limit_add?model='.$model['id'])}" method="post" class="form-horizontal form_info_ml">
        <div class="formtitle"><span>基本信息</span></div>
        <ul class="form_info ">
            <li><label>渠道账号</label><select name="promote_id">
                            <option value=' '> 请选择渠道 </option>
                         <volist name=":get_promote_list()" id="vo">
                            <option value='{$vo.id}'>{$vo.account}</option>
                        </volist>
                            </select><i class="form_hint"></i></li>
            <li><label>游戏名称</label><select id="game_id" name="pay_limit_game">
                        <option value="">请选择游戏(不选表示全部游戏)</option>
                       <volist name=":get_game_list()" id="vo">
                        <option value="{$vo.id}">{$vo.game_name}</option>
                       </volist>
                       </select><i class="form_hint"></i></li>
            <li><label>代充额度</label><input name="limits" type="text" placeholder="请输入大于0的整数" class=""><i class="form_hint"></i></li>
            <li><label>&nbsp;</label><input type="submit" id="submit" value="确认保存" target-form="form-horizontal" class="form_btn ajax-post"></li>
        </ul>
    </form>
    
</block>

<block name="script">
<script type="text/javascript">
//导航高亮
highlight_subnav('{:U('Promote/pay_limit')}');
$('#submit').click(function(){
    $('#form').submit();
});
</script>
</block>
