<extend name="Public/base"/>

<block name="body">
<link rel="stylesheet" href="__CSS__/select2.min.css" type="text/css" />
<script type="text/javascript" src="__JS__/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__/select2.min.js"></script>
<style type="text/css">
.forbidden {
    color: #7B7B7B; 
}
.forbidden:hover
{
background-color: #FF9797;
}
#asd{
    display: none;
}
</style>
    <!-- 标题栏 -->
    <div class="main-place">
        <span class="main-placetitle">位置：</span>
        <ul class="main-placeul">
            <li><a href="{:U('Promote/lists')}">渠道</a></li>
            <li><a href="{:U('Promote/ch_reg_list')}">数据管理</a></li>
            <li><a href="#">实时充值</a></li>
        </ul>
        <div class="question">
            <i class="question_mark">?</i>
            <ul class="question_content">
                <li class="question_title">功能以及数据相关说明</li>
                <li class="question_list">
                    <span class="">实时充值</span>
                    <span class="">对游戏渠道用户玩家产生的充值信息，进行记录的功能</span>
                </li>
            </ul>
        </div>
    </div>
	<div class="cf top_nav_list">
    <div class="fl button_list">
        <empty name="model.extend">
            <div class="tools">
                 <a class=" ajax-post " target-form="ids" url="{:U("Promote/set_check_status",array('model'=>'Spend',"status"=>1,"msg_type"=>8,"field"=>"is_check"))}"><span class="button_icon button_icon10"></span>参与结算</a>
            <a class=" ajax-post " target-form="ids" url="{:U("Promote/set_check_status",array('model'=>'Spend',"status"=>2,"msg_type"=>8,"field"=>"is_check"))}"><span class="button_icon button_icon11"></span>不参与结算</a>
            </div>
        </empty>
        </div>
		<!-- 高级搜索 -->
		<div class="jssearch fr cf search_list">
        <div class="input-list">
            <label>玩家账号：</label>
            <input type="text"  name="user_account" class="" value="{:I('user_account')}"/>&nbsp;
        </div>
        <div class="input-list">
            <label>订单号：</label>
            <input type="text"  name="pay_order_number" class="" value="{:I('pay_order_number')}"/>&nbsp;
        </div>
            <div class="input-list">
                <label>充值时间：</label>
                <input type="text" id="time-start" name="time-start" class="" value="{:I('time-start')}" placeholder="起始时间" /> 
                -
                <div class="input-append date" id="datetimepicker"  style="display:inline-block">
                <input type="text" id="time-end" name="time-end" class="" value="{:I('time-end')}" placeholder="结束时间" />
                <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>
            <div class="input-list input-list-promote search_label_rehab">
                <label>渠道账号：</label>
                <select id="promote_id" name="promote_name" class="select_gallery" >
                    <option value="">请选择渠道账号</option>
                    <volist name=":get_promote_list(1)" id="vo">
                        <option promote-id="{$vo.id}" value="{$vo.account}">{$vo.account}</option>
                    </volist>
                </select>  
            </div>
            <div class="input-list input-list-promote search_label_rehab">
                <label>上线渠道：</label>
                <select id="parent_id" name="parent_id" class="select_gallery" >
                    <option value="">请选择渠道账号</option>
                    <volist name=":get_all_toppromote()" id="vo">
                        <option promote-id="{$vo.id}" value="{$vo.id}">{$vo.account}</option>
                    </volist>
                </select>
            </div>
            <div class="input-list input-list-game search_label_rehab">
            <label>游戏名称：</label>
                <select id="game_id" name="game_name" class="select_gallery">
                    <option value="">请选择游戏</option>
                    <volist name=":get_game_list()" id="vo">
                        <option game-id="{$vo.id}" value="{$vo.game_name}">{$vo.game_name}</option>
                    </volist>
                </select>
            </div>

             <div class="input-list input-list-server search_label_rehab">
            <label>区服名称：</label>
                <select id="server_id" name="server_id" class="select_gallery">
                    <option value="">请选择区服</option>
                </select>
            </div>

            <div class="input-list input-list-spend search_label_rehab">
                <label>充值方式：</label>
                <select id="pay_way_id" name="pay_way" class="select_gallery">
                    <option value="">请选择充值方式</option>
                    <volist name=":all_pay_way(1)" id="vo">
                        <option value="{$vo.key}">{$vo.value}</option>
                    </volist>
                </select>
            </div>
            <div class="input-list">
                <label>充值IP：</label>
                <input type="text"  name="spend_ip" class="" value="{:I('spend_ip')}"/>&nbsp;
            </div>

       <!-- <div class="i_list">
            <label>订单状态：</label>
            <select name="server_version">
                <option value="">全部</option>
                <option value="1">成功</option>
                <option value="0">未支付</option>
            </select>
        </div>
             <div class="i_list">
                 <div class="drop-down" id="is_check">
                    <if condition="I('is_check') eq ''">
                    <input type="text" id="i_list_id" class="sort-txt" value="" placeholder="请选择对账状态" />
                    <else />
                    <input type="text" id="i_list_id" class="sort-txt" value="{:I('is_check')}" placeholder="请选择对账状态" />
                    </if>
                    <input type="hidden" id="i_list_idh" name="is_check" value="{:I('is_check')}" />
                    <i class="arrow arrow-down"></i>
                    <ul id="i_list_li" class="nav-list hidden i_list_li">
                        <li><a href="javascript:;" value="" >全部</a></li>
                        <li><a href="javascript:;" value="1">参与</a></li>
                        <li><a href="javascript:;" value="2">不参与</a></li>     
                        <li><a href="javascript:;" value="3">参与(已对账)</a></li>     
                        <li><a href="javascript:;" value="4">不参与(已对账)</a></li>     
                    </ul>
                </div>                
            </div>-->
            <input type="hidden" name="" value="" class="sortBy">
            <div class="input-list">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('Promote/spend_list','model='.$model['name'],false)}">搜索</a>
            </div>
            <div class="input-list">
                <a class="sch-btn" href="{:U('Export/expUser',array_merge(array('id'=>4,),I('get.')))}">导出</a><span class="totalvalue">(共计充值<i>{$total}</i>元)</span>
            </div>
		</div>
	</div>


    <!-- 数据列表 -->
    <div class="data_list">
        <div class="">
            <table>
                <!-- 表头 -->
                <thead>
                    <tr>
                        <th>
                            <input class="check-all" type="checkbox">
                        </th>
                        <!-- <th>编号</th> -->
                        <th>订单号</th>
                        <!-- <th>充值时间</th> -->
                        <th ><a class="paixu" data-order='pay_time'><if condition="$userarpu_order eq 4 and  $userarpu_order_type eq 'pay_time'">充值时间▲<elseif condition="$userarpu_order eq 3 and $userarpu_order_type eq 'pay_time'"/>充值时间▼<else />充值时间<img src="__IMG__/up-down.png" width="13px"></if></a></th>
                        <th>玩家账号</th>
                        <th>所属渠道</th>
                        <th>上线渠道</th>
                        <th>游戏名称</th>
                        <th>游戏区服</th>
                        <th>角色名</th>
                        <th>充值IP</th>
                        <th>应付金额</th>
                        <th>实付金额</th>
                        <th>充值方式</th>
                        <th>上级渠道</th>
                        <th>平台专员</th>
                        <th>对账状态</th>
                    </tr>
                </thead>
                <!-- 列表 -->
                <tbody>
                <empty name ="list_data">
                <td colspan="16" class="text-center"> aOh! 暂时还没有内容! </td>
                <else />
                    <volist name="list_data" id="data">
                        <tr>
                        <td>
                          <input class="ids" type="checkbox" value="{$data['id']}"  name="ids[]">
                           </td>
                            <!-- <td>{$data.id}</td> -->
                            <td>{$data.pay_order_number}</td>
                            <td>{$data.pay_time|date='Y-m-d H:i:s',###}</td>
                            <td>{$data.user_account}</td>
                             <td>{$data['promote_account']}</td>

                            <td>{:get_promote_parent($data['promote_id'],'account')}</td>

                            <td>{$data.game_name}</td>
                            <td>{$data.server_name}</td>
                            <td>{$data.game_player_name}</td>
                            <td>{$data.spend_ip}</td>
                            <td>{$data.cost}</td>
                            <td>{$data.pay_amount}</td>
                            <td>{:get_pay_way($data['pay_way'])}</td>
                             <td>{:get_top_promote($data['promote_id'],get_parent_id($data['promote_id']))}</td>
                            <td>{:get_belong_admin($data['promote_id'])}</td>
                            <td>
                                <div class="partakebtn">
                               <if condition="$data.is_check eq 1">
                                <a class="ajax-post" target-form="ids" href="" url="{:U('Promote/set_check_status',array('model'=>'Spend','ids'=>$data['id'],'status'=>2,'msg_type'=>8,'field'=>'is_check'))}">参与</a>
                                <else/>
                                <a  class="ajax-post" target-form="ids" href="" url="{:U('Promote/set_check_status',array('model'=>'Spend','ids'=>$data['id'],'status'=>1,'msg_type'=>8,'field'=>'is_check'))}" style="color: red">不参与</a>
                                </if>
                                </div>
                            </td>
                        </tr>
                    </volist>
                    </empty>
                    <tr class="data_summary">
                        <td>汇总</td>
                        <td colspan="15">当页充值：{:null_to_0(array_sum(array_column(array_status2value('pay_status','',$list_data),'pay_amount')))}元 ； 今日充值：{$ttotal}元 ； 昨日充值：{$ytotal}元 ； 累计充值：{$total}元（此处只汇总充值成功的订单）</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="page">
        {$_page|default=''}
    </div>
    {:W('Search/period',array(array('m_name'=>'recharge','map'=>array('pay_status'=>1,'game_id'=>I('game_id'),'promote_id'=>I('promote_id'),'pay_way'=>I('pay_way'),'user_account'=>I('user_account')),'field'=>'pay_time','total'=>'pay_amount','unit'=>'元')))}
    <!-- <span><a href="{:U('Export/expUser',array(
        'id'=>2,'pay_way'=>I('pay_way'),
        'user_account'=>I('user_account'),
        'time-start'=>I('time-start'),
        'time-end'=>I('time-end'),
        'start'=>I('start'),
        'end'=>I('end'),
    ))}">导出数据(excel格式)</a></span> -->
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
//导航高亮
highlight_subnav('{:U('Promote/spend_list')}');
$(function(){
    $("#game_id").change();
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.jssearch').find('input').serialize();
        query  += "&"+$('.jssearch').find('select').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});

    $(".paixu").click(function(){
        var that=$(this);
        $data_order=that.attr('data-order');
        $order_type='{$userarpu_order}';
        if($order_type==''||$order_type=='4'){
            $(".sortBy").attr('name','data_order');
            val='3,'+$data_order;
            $(".sortBy").attr('value',val);
            $("#search").click();
        }else if($order_type=='3'){
            $(".sortBy").attr('name','data_order');
            val='4,'+$data_order;
            $(".sortBy").attr('value',val);
            $("#search").click();
        }
    });
    //回车自动提交
    $('.jssearch').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });
    $('#time-start').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });

    $('#datetimepicker').datetimepicker({
       format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true,
        pickerPosition:'bottom-left'
    })

    /* 支付状态搜索子菜单 */
    $(".jssearch").find(".pay_status").hover(function(){
        $("#sub-sch-menu-pay-status").removeClass("hidden");
    },function(){
        $("#sub-sch-menu-pay-status").addClass("hidden");
    });
    $("#sub-sch-menu-pay-status li").find("a").each(function(){
        $(this).click(function(){
            var text = $(this).text();
            $("#sch-pay-status-txt").text(text).attr("data",$(this).attr("value"));
            $("#sub-sch-menu-pay-status").addClass("hidden");
            $("#pay_status").val($(this).attr("value"));
        })
    });


    /* 支付方式搜索子菜单 */
    $(".jssearch").find(".pay_way").hover(function(){
        $("#sub-sch-menu-pay-way").removeClass("hidden");
    },function(){
        $("#sub-sch-menu-pay-way").addClass("hidden");
    });
    $("#sub-sch-menu-pay-way li").find("a").each(function(){
        $(this).click(function(){
            var text = $(this).text();
            $("#sch-pay-way-txt").text(text).attr("data",$(this).attr("value"));
            $("#sub-sch-menu-pay-way").addClass("hidden");
            $("#pay_way").val($(this).attr("value"));
        })
    });
    
    $("#game").on('click',function(event) {
        var navlist = $(this).find('.i_list_li');
        if (navlist.hasClass('hidden')) {
            navlist.removeClass('hidden');
            $(this).find('#i_list_id').focus().val('');            
        } else {
            navlist.addClass('hidden');
        }
        $(document).one("click", function(){
            navlist.addClass('hidden');
        });
        event.stopPropagation();
    });

    $('#game #i_list_id').on('keyup',function(event) {
        var val  = $.trim($(this).val()).toLowerCase();
        $(this).closest('.drop-down').find('#i_list_idh').val(val);
    });
    
    $("#game #i_list_li").find("a").each(function(){
        $(this).click(function(){
            var text = $.trim($(this).text()).toLowerCase();
            $(this).closest('.drop-down').find("#i_list_id").val(text);
            $(this).closest('.drop-down').find('#i_list_idh').val(text);
        })
    });
    $("#is_check").on('click',function(event) {
        var navlist = $(this).find('.i_list_li');
        if (navlist.hasClass('hidden')) {
            navlist.removeClass('hidden');
            $(this).find('#i_list_id').focus().val('');            
        } else {
            navlist.addClass('hidden');
        }
        $(document).one("click", function(){
            navlist.addClass('hidden');
        });
        event.stopPropagation();
    });

    $('#is_check #i_list_id').on('keyup',function(event) {
        var val  = $.trim($(this).val()).toLowerCase();
        $(this).closest('.drop-down').find('#i_list_idh').val(val);
    });
    
    $("#is_check #i_list_li").find("a").each(function(){
        $(this).click(function(){
            var text = $.trim($(this).text()).toLowerCase();
            $(this).closest('.drop-down').find("#i_list_id").val(text);
            $(this).closest('.drop-down').find('#i_list_idh').val(text);
        })
    });
    
    $("#promote").on('click',function(event) {
        var navlist = $(this).find('.i_list_li');
        if (navlist.hasClass('hidden')) {
            navlist.removeClass('hidden');
            $(this).find('#i_list_id').focus().val('');            
        } else {
            navlist.addClass('hidden');
        }
        $(document).one("click", function(){
            navlist.addClass('hidden');
        });
        event.stopPropagation();
    });

    $('#promote #i_list_id').on('keyup',function(event) {
        var val  = $.trim($(this).val()).toLowerCase();
        $(this).closest('.drop-down').find('#i_list_idh').val(val);
    });
    
    $("#promote #i_list_li").find("a").each(function(){
        $(this).click(function(){
            var text = $.trim($(this).text()).toLowerCase();
            $(this).closest('.drop-down').find("#i_list_id").val(text);
            $(this).closest('.drop-down').find('#i_list_idh').val(text);
        })
    });
    $(".d_list").find(".drop-down12").hover(function(){
        $(this).find(".nav-list").removeClass("hidden");
    },function(){
        $(this).find(".nav-list").addClass("hidden");
    });

     $(".drop-down12 .nav-list li").find("a").each(function(){
        var that = $(".drop-down12");
        $(this).click(function(){
            var text = $(this).text(),val = $(this).attr("value");
            that.find(".sort-txt").text(text).attr("data",val);
            that.find(".nav-list").addClass("hidden");
            that.siblings('.hiddenvalue').val(val);
        })
    });

     $("#game_id").change(function(){
         $.ajax({
             url:"{:U('Ajax/getServer')}",
             type:"post",
             data:{game_id:$("#game_id option:selected").attr('game-id')},
             dataType:'json',
             success:function(data){
                 str = "<option value=''>请选择区服</option>";
                 for (var i in data){
                     str += "<option value='"+data[i].id+"'>"+data[i].server_name+"</option>"
                 }
                 $("#server_id").empty();
                 $("#server_id").append(str);
                 $("#server_id").select2();

             }
         })
     })

     <volist name=":I('get.')" id="vo">
        Think.setValue('{$key}',"{$vo}");
    </volist>
    $(".select_gallery").select2();
})
</script>
</block>
