<extend name="Public/base"/>

<block name="body">
	<div class="main-place">
        <span class="main-placetitle">位置：</span>
        <ul class="main-placeul">
            <li><a href="{:U('Model/index')}">系统</a></li>
            <li><a href="{:U('Route/lists')}">扩展工具</a></li>
            <li><a href="#">{$meta_title}</a></li>
        </ul>
        <div class="question">
            <i class="question_mark">?</i>
            <ul class="question_content">
                <li class="question_title">功能以及数据相关说明</li>
                <li class="question_list">
                    <span class="">{$meta_title}</span>
                    <span class="">用于配置动态密保的相关参数</span>
                </li>
            </ul>
        </div>
    </div>
	<div class="tab-wrap">
		<div class="tab_nav jstabnav">
		<ul>
			<li data-tab="tab1" class="current"><a href="javascript:void(0);" >动态密保</a></li>
		</ul>
        </div>
		<div class="tab-content">
		<div id="tab1" class="tab-pane in tab1">
		<form action="{:U('saveTool')}" method="post" class="form-horizontal OSS form_info_ml">
			<ul class="form_info ">
                <li><label>商户号</label><input name="config[partner]" type="text" value="{$set_cooperate['partner']}" class=""><i class="form_hint">蘑菇索取</i></li>
                <li><label>密钥</label><input name="config[key]" type="text" value="{$set_cooperate['key']}" class=""><i class="form_hint">蘑菇索取</i></li>
                <li><label>启用状态</label><span class="form_radio">
                    <label><input type="radio" name="status" value="0" <eq name="set_cooperate_data['status']" value="0">checked="checked"</eq>> 禁用</label>
                    <label><input type="radio" name="status" value="1" <eq name="set_cooperate_data['status']" value="1">checked="checked"</eq>> 启用
                </label></span><i class="form_hint">是否启用动态密保</i></li>
                <li><label>&nbsp;</label><input type="hidden" name="name" value="set_cooperate"></input><input type="submit" id="submit" value="确认保存" target-form="OSS" class="form_btn ajax-post"></li>
            </ul>
		</form>
		</div>
		</div>
	</div>
</block>

<block name="script">
<script type="text/javascript">
	//导航高亮
	highlight_subnav('{:U('Tool/cooperate')}');
	$(function(){
		//支持tab
		showTab();
	})
</script>
</block>
